__pycache__/
*.pyc
.venv/
.env
.envrc
.idea/
.vscode/
.DS_Store
.docs_cache/
docs/_build/
_build/
.eggs/
*.egg-info/
dist/
build/
.coverage
htmlcov/
artifacts/
data/telemetry/

setup/datalad_config.sh
tmp/
